/* admin\assets\css\admin.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sdb-field {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    background: #fafafa;
    position: relative;
}

.field-group p {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.field-group input[type="text"],
.field-group select {
    min-width: 200px;
    padding: 5px;
    height: 40px;
}

.repeater-field-group {
    border-left: 5px solid #0073aa;
    background: #f1f9ff;
}

.sub-fields-container {
    margin-top: 15px;
    padding-left: 10px;
    border-left: 3px dashed #0073aa;
}

.sub-field {
    margin-bottom: 10px;
    padding: 8px;
    background: #f9f9f9;
    border: 1px dashed #ccc;
}

button.button {
    padding: 5px 10px;
    margin-top: 5px;
}

.sub-fields-container .field-type-select {
    margin-top: -6px;
}

button.remove-field.button,
button.remove-sub-field.button {
    height: 40px;
}
